<style>
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: "Inter", sans-serif;
  }

  .btn-light-b-0:active{
    background-color: #fff !important;
  }

  .btn-light-b-0:focus{
    background-color: #fff !important;
  }

  .bg-edit{
    background: #ecf0f5;
  }

  .btn-light{
    background: inherit;
  }


  .btn-light:hover {
    color: #373c43;
    background-color: #ffffff; 
    border-color: #e4e9f2;
  }

  .nowrap {
    white-space: nowrap;
  }

  .align-right {
    text-align: right;
  }

  .loading-backdrop {
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2000;
    text-align: center;  
    padding-top: calc(25vh - 20px);
  }

  .ht-100 {
    height: 100%;
  }

  .btn-group-link {
    background-color: #FFF!important;
    border-radius: 4px;
    color: #000!important;
    margin: 0;
    height: 31px;
    width: 33px;
    border: 2px solid rgba(0,0,0,0.2)!important;
    background-clip: padding-box;
    box-shadow: none!important;
    padding: 2px;
  }

  .badge{
    border-radius: 4px!important;
    font-weight: 500;
    font-size: 0.83em;
    position: relative;
    left: 4px;
  }

  .bg-light{
    background-color: rgba(238, 238, 238, 1) !important;
    color: rgba(183, 183, 183, 1);
  }

  .bg-success{
    background-color: rgba(54, 165, 72, 1) !important;
    color: rgba(255, 255, 255, 1);
  }

  .bg-warning{
    background-color: rgba(255, 180, 33, 0.4) !important;
    color: rgba(165, 144, 0, 1);
  }

  .bg-active{
    background-color: rgba(127, 204, 114, 0.26);
    color: rgba(127, 204, 114, 1);
  }

  .status-badge{ 
    font-size: medium;
    left: 10px;
    top: -4px;
    position: relative;
    line-height: 6.8px;
    width: 145px;
    height: 29px;
    border: 1px solid;
  }


  .center-img{
    justify-content: center;
    display: flex;
  }

  .table-responsive .center-img{
    padding-top:16px !important;
    padding-bottom: 16px!important;
  }

  .bg-icon-map{

    width: 38px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 5px;
    background: linear-gradient(90deg, #AF124C 0%, #9B0F6F 100%);
  }

  hr {
    border-bottom: 1px solid #e1e1e1 !important;
    height: auto !important;
  }

  figure img{
    width: 60px!important;
    height: 60px!important;
  }


  .card-header .btn {
    font-size: .855rem;
    border-radius: 4px;
  }

  .page-actions .btn{
    font-size: .855rem;
    border-radius: 4px;
  }

  .modal-content .btn{ 
    font-size: .8925rem;
    border-radius: 4px;
  }

  .list-group-borderless{
    overflow-x: auto !important;
    overflow-y: auto!important;
  }

  .accordion-button::after{
    background-size: 20px;
    width: 1.2rem;
    height: 0.88rem;
  }

  .accordion-button:not(.collapsed)::after {
    position: relative;
    top: 5px;
  }


  .detail-item .list-group-item-action:focus, .detail-item .list-group-item-action:hover{
    background-color: transparent;

  }

  .detail-item{
    padding: 0px 40px 0px 40px;
  }

  .custom-col{
    width: 94.66667%;
  }

  .cursor-p{
    cursor:pointer;
  }

  .border-header{
    border-bottom: 1px solid #eeeeee !important;
  }

  .custom-table th,
  .custom-table td {
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowing text */
  }

  @media (max-width: 767px) {
    .custom-table th,
    .custom-table td {
      display: block; /* Stack cells vertically on small screens */
      width: 100%;
      box-sizing: border-box;
    }

    .custom-table th {
      text-align: left;
      background-color: #f8f9fa; /* Optional: Highlight header background on small screens */
    }
  }

  /* KDS Specific Styles */
  .kds-container {
    display: flex;
    justify-content: space-around;
    padding: 9.8px;
    min-height: calc(100vh - 100px); /* Adjust based on header/footer height */
  }

  .kds-column {
    

  }

  .kds-column-header {
    background-color: #343a40;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .kds-column-content {
    padding: 15px;
    overflow-y: auto;
    flex-grow: 1;
  }

  .kds-card {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  .kds-card.processing {
    background-color: #ffeeba; /* Light yellow for processing */
    border-color: #dfdfdf;
  }

  .kds-card.ready {
    background-color: #d4edda; /* Light green for ready */
    border-color: #28a745;
  }

  .kds-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .kds-card-body {
    font-size: 0.9em;
  }

  .kds-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    padding-top: 10px;
    border-top: 1px solid #e9ecef;
    font-size: 0.8em;
    color: #6c757d;
  }

  .kds-card-status {
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 0.8em;
  }

  .kds-card-status.new {
    background-color: #007bff;
  }

  .kds-card-status.approved {
    background-color: #28a745;
  }

  .kds-card-status.delivery {
    background-color: #6c757d;
  }

  .kds-card-actions button {
    margin-left: 5px;
  }

  .kds-top-actions {
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding-right: 20px;
  }

  .kds-top-actions button {
    margin-left: 10px;
  }

  .kds-bottom-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #e9ecef;
  }

  .kds-bottom-actions button {
    margin-left: 10px;
  }

.btn-yes:hover {
  box-shadow: 0 0.1rem 0.5rem rgb(52 253 52 / 50%), 0 0.25rem 1rem rgba(55, 60, 67, 0.2);
  background-color: rgba(3, 167, 3, 0.1);
  border-radius: 4px;
}

.btn-no:hover {
  box-shadow: 0 0.1rem 0.5rem rgb(255 79 79 / 50%), 0 0.25rem 1rem rgba(55, 60, 67, 0.2);
  background-color: rgba(240, 7, 7, 0.1);
  border-radius: 4px;
}

.bg-default-v2{
    background-color: #c9c7cb;
    color: rgb(26 24 24);
}

.card-header {
    padding: .7375rem 1.25rem;
    min-height: 3rem;
    background-color: #333333fa;
    color: #f8f8f8;

}

.card {
     border: 0px solid #333333fa!important;
}

.card-header:first-child {
border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.h4-title{
  font-size: 1rem;
    color: #f8f8f8;
}

.input-search:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(225, 231, 240, 0.5), 0 0.25rem 1rem rgba(55, 60, 67, 0.2);
border-color: #e4e9f2;
}


.input-search:focus {
    box-shadow: 0 0 0 1px #e1e7f0, 0 0 0.7rem 0.25rem rgba(225, 231, 240, 0.4) !important;	
	color: #788289;
    background-color: #f8f8f8;
}

.border-2{
  border-radius: 14px !important;
}

</style>

<section id="content" class="content inter">
  <div class="content__header content__boxed overlapping">
    <div class="content__wrap">
      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" style="margin-top: 18.57px;">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/#!/home">Início</a></li>
          <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
        </ol>
      </nav>
      <!-- END : Breadcrumb -->
  
       <div class="mt-1 d-flex justify-content-between align-items-center"
        style="margin-top: 1.05rem !important;align-items: flex-start!important;">
        <div class="col-md-6 col-lg-6">
          <input type="text" aria-haspopup="true"
            class="form-control input-sm input-search ng-valid ng-valid-maxlength ng-dirty ng-valid-parse ng-empty ng-touched"
            id="txt-finder-term" placeholder="Buscar" ng-change="changeFilter(textFilter)"
            data-ng-model-options="{ debounce: 1000 }" ng-model="textFilter" maxlength="80"
            style="border-radius: 4px;font-size: 0.84rem;height: 40px;padding-left: 32px;">
          <span class="pli-magnifi-glass"
            style="position: initial;margin-top: -61px;margin-left: 10px;font-size: 17px;"></span>
        </div>

        <div class="col-md-5 col-lg-5 d-flex">
          <div class="d-grid gap-2 d-md-flex  page-actions" style="padding-right: 20px;">
           <button type="button" class="btn btn-light hstack gap-2" style="color:#788289;background-color: #f8f8f8;">
              <i class="btn-label pli-scooter fs-5"></i>
              Entrega
            </button>
          </div>   
          <div class="d-grid gap-2 d-md-flex  page-actions">
            <button type="button" class="btn btn-light hstack gap-2" style="color:#788289;background-color: #f8f8f8;">
              <i class="btn-label pli-aim fs-5"></i>
              Retirada
            </button>
          </div>
        </div>
          
        <div class="page-actions pull-right">
          <div class="d-grid gap-2 d-md-flex col-md-3">
  
            <button type="button" class="btn btn-success hstack gap-2" data-ng-click="gravar()">
              <i class="btn-label pli-add fs-5"></i>
              <span class="vr"></span>
              Novo
            </button>
          </div>
        </div>
      </div>
  
    </div>
    <h1 class="page-title mb-0 mt-2"></h1>
  
    <p class="lead"></p>

  </div>

  <div class="content__boxed" style="font-family: 'Inter';">
    <div class="content__wrap">
      <article class="col-xl-12 mb-3 mb-xl-0">
        <div class="flex-fill">
          <div class="row">
   
            <div class="col-xl-12">

              <div class="row">
                  <div class="col-sm-4 kds-column">
                  <div class="h-100 card border-2 border-light mb-3">
                    <div class="card-header toolbar">
                      <div class="toolbar-start">
                        <h4 class="h4-title"><i class="pli-bell text-reset text-opacity-75 fs-5 me-2"></i> Novos</h4>
                      </div>
                         <div class="toolbar-end">
                            <span style="font-size: 15px;font-weight: 500;font-family: 'Inter';">0</span>
                        </div>
                    </div>
                    <div class="card-body" style="min-height: 248px; padding-top: 1.5rem;">
                      <div class="col-12" style="font-size: 1.1em;">

                      
                      
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 kds-column">
                <div class="h-100 card border-2 border-light mb-3">
                    <div class="card-header toolbar">
                        <div class="toolbar-start">
                            <h4 class="h4-title"><i class="pli-refresh text-reset text-opacity-75 fs-5 me-2"></i> Processando</h4>
                        </div>
                        <div class="toolbar-end">
                            <span style="font-size: 15px;font-weight: 500;font-family: 'Inter';">3</span>
                        </div>
                    </div>
                
                    <div class="col-12">
                        <div class="kds-column-content">
                
                            <div class="kds-card processing" style="display: flex; padding: 0; overflow: hidden;">
                                <!-- Bloco vermelho -->
                                <div
                                    style="background: #f44336; color: white; padding: 20px; text-align: center; font-weight: bold; min-width: 80px;">
                                    <div style="font-size: 18px;">018</div>
                                    <div style="font-size: 12px;">Aprovado</div>
                                </div>
                
                                <!-- Conteúdo -->
                                <div style="flex: 1; background: #ECE6FC; padding: 10px; position: relative;color: #555;">
                                    <!-- Info -->
                                    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
                                        <!-- Blocos de info agrupados -->
                                        <div style="display: flex; gap: 20px;">
                                            <div style="line-height: 1.5; font-size: 12px;">
                                                <div style="padding-bottom: 2px;font-size: 13px;"><i class="pli-scooter"></i> Entrega
                                                </div>
                                                <div style="padding-bottom: 2px;font-size: 13px;"><i class="pli-support"></i><span
                                                        class="badge bg-default-v2">LOCAL</span></div>
                                                <div style="font-size: 13px;"><i class="pli-smartphone-3"></i> 10:16</div>
                                            </div>
                
                                            <div style="line-height: 1.5; font-size: 12px;">
                                                <div style="padding-bottom: 2px;font-size: 13px;">Marcio</div>
                                                <div style="padding-bottom: 2px;font-size: 13px;"><i class="pli-smartphone-2"></i>(61)
                                                    99673-6411
                                                </div>
                                                <div style="font-size: 13px;"><i class="pli-map-marker"></i> Taguatinga</div>
                                            </div>
                                        </div>
                
                                        <!-- Ações -->
                                        <div style="display: flex; gap: 1px; align-items: center;">
                                            <button type="button" style="background: none; border: none;color: #fff;padding: 5px;">
                                                <i class="psi-yes btn-yes" style="color: rgb(3, 167, 3); font-size: 17px;"></i>
                                            </button>
                                            <button type="button" style="background: none; border: none;padding: 0px;">
                                                <i class="psi-close btn-no" style="color: rgb(240, 7, 7); font-size: 17px;"></i>
                                            </button>
                                        </div>
                                    </div>
                
                                    <!-- Rodapé -->
                                    <div style="text-align: right; font-size: 13px; margin-top: 10px; color: #555;">
                                        <i class="pli-scooter"></i> 5min &nbsp;
                                        <i class="pli-clock"></i> 1799 min
                                    </div>
                                </div>
                            </div>
                
                            <div class="kds-card processing" style="display: flex; padding: 0; overflow: hidden;">
                                <!-- Bloco vermelho -->
                                <div
                                    style="background: #f44336; color: white; padding: 20px; text-align: center; font-weight: bold; min-width: 80px;">
                                    <div style="font-size: 18px;">019</div>
                                    <div style="font-size: 12px;">Aprovado</div>
                                </div>
                
                                <!-- Conteúdo -->
                                <div style="flex: 1; background: #ECE6FC; padding: 10px; position: relative;color: #555;">
                                    <!-- Info -->
                                    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
                                        <!-- Blocos de info agrupados -->
                                        <div style="display: flex; gap: 20px;">
                                            <div style="line-height: 1.5; font-size: 12px;">
                                                <div style="padding-bottom: 2px;font-size: 13px;"><i class="pli-scooter"></i> Entrega
                                                </div>
                                                <div style="padding-bottom: 2px;font-size: 13px;"><i class="pli-support"></i><span
                                                        class="badge bg-default-v2">LOCAL</span></div>
                                                <div style="font-size: 13px;"><i class="pli-smartphone-3"></i> 10:16</div>
                                            </div>
                
                                            <div style="line-height: 1.5; font-size: 12px;">
                                                <div style="padding-bottom: 2px;font-size: 13px;">Marcio</div>
                                                <div style="padding-bottom: 2px;font-size: 13px;"><i class="pli-smartphone-2"></i>(61)
                                                    99673-6411
                                                </div>
                                                <div style="font-size: 13px;"><i class="pli-map-marker"></i> Taguatinga</div>
                                            </div>
                                        </div>
                
                                        <!-- Ações -->
                                        <div style="display: flex; gap: 1px; align-items: center;">
                                            <button type="button" style="background: none; border: none;color: #fff;padding: 5px;">
                                                <i class="psi-yes btn-yes" style="color: rgb(3, 167, 3); font-size: 17px;"></i>
                                            </button>
                                            <button type="button" style="background: none; border: none;padding: 0px;">
                                                <i class="psi-close btn-no" style="color: rgb(240, 7, 7); font-size: 17px;"></i>
                                            </button>
                                        </div>
                                    </div>
                
                                    <!-- Rodapé -->
                                    <div style="text-align: right; font-size: 13px; margin-top: 10px; color: #555;">
                                        <i class="pli-scooter"></i> 5min &nbsp;
                                        <i class="pli-clock"></i> 1799 min
                                    </div>
                                </div>
                            </div>
                
                
                            <div class="kds-card processing" style="display: flex; padding: 0; overflow: hidden;">
                                <!-- Bloco vermelho -->
                                <div
                                    style="background: #f44336; color: white; padding: 20px; text-align: center; font-weight: bold; min-width: 80px;">
                                    <div style="font-size: 18px;">020</div>
                                    <div style="font-size: 12px;">Aprovado</div>
                                </div>
                
                                <!-- Conteúdo -->
                                <div style="flex: 1; background: #E5FBF3; padding: 10px; position: relative;color: #555;">
                                    <!-- Info -->
                                    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
                                        <!-- Blocos de info agrupados -->
                                        <div style="display: flex; gap: 20px;">
                                            <div style="line-height: 1.5; font-size: 12px;">
                                            <div style="padding-bottom: 2px;font-size: 13px;"><i class="pli-scooter"></i> Entrega </div>
                                            <div style="padding-bottom: 2px;font-size: 13px;"><i class="pli-support"></i><span
                                                    class="badge bg-warning">SITE</span></div>
                                            <div style="font-size: 13px;"><i class="pli-smartphone-3"></i> 10:16</div>
                                        </div>
                    
                                        <div style="line-height: 1.5; font-size: 12px;">
                                            <div style="padding-bottom: 2px;font-size: 13px;">Marcio</div>
                                            <div style="padding-bottom: 2px;font-size: 13px;"><i class="pli-smartphone-2"></i>(61)
                                                99673-6411
                                            </div>
                                            <div style="font-size: 13px;"><i class="pli-map-marker"></i> Taguatinga</div>
                                        </div>
                                    </div>
                    
                                    <!-- Ações -->
                                    <div style="display: flex; gap: 1px; align-items: center;">
                                        <button type="button" style="background: none; border: none;color: #fff;padding: 5px;">
                                            <i class="psi-yes btn-yes" style="color: rgb(3, 167, 3); font-size: 17px;"></i>
                                        </button>
                                        <button type="button" style="background: none; border: none;padding: 0px;">
                                            <i class="psi-close btn-no" style="color: rgb(240, 7, 7); font-size: 17px;"></i>
                                        </button>
                                    </div>
                                </div>
                    
                                <!-- Rodapé -->
                                <div style="text-align: right; font-size: 13px; margin-top: 10px; color: #555;">
                                    <i class="pli-scooter"></i> 5min &nbsp;
                                    <i class="pli-clock"></i> 1799 min
                                </div>
                            </div>
                        </div>
                                        
                    </div>
                      
                      
                      </div>
                    
                  </div>
                </div>

                <div class="col-sm-4 kds-column">
                  <div class="h-100 card border-2 border-light mb-3">
                    <div class="card-header toolbar">
                      <div class="toolbar-start">
                        <h4 class="h4-title"><i class="pli-check text-reset text-opacity-75 fs-5 me-2"></i> Prontos </h4>
                      </div>
                         <div class="toolbar-end">
                            <span style="font-size: 15px;font-weight: 500;font-family: 'Inter';">0</span>
                        </div>
                    </div>
                    <div class="card-body" style="min-height: 248px; padding-top: 1.5rem;">
                      <div class="col-12" style="font-size: 1.1em;">

                      
                      
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

      </article>

    </div>

  </div>

</section>


